.burgerIngredients {
    height: 300px;
    width: 100%;
    overflow: auto;
}

.burgerIngredients p{
    text-align: center;
}

.ingredientsBlock{
    background-color: #f4b46c;
    margin: 30px auto 0;
    display: table;
    max-width: 200 px;
    width: 100%;
    border-radius: 3px;
    padding: 20px;
    text-align: center;
}

.ingredientsBlock p{
    padding: 0;
    margin: 0;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
}

.ingrBttns{
    margin: 0 0 20px;
    display: flex;
    justify-content: space-between;
}

.ingrBttn{
    border: 0;
    background-color: white;
    padding: 5px;
    cursor: pointer;
    display: table;
    width: 95px;
}

.topSide {
    background-Image: url(../assets/top.png);
    background-size: 300px;
    height: 92px;
    width: 100%;
    display: table;
    background-repeat: no-repeat;
    background-position: center;
}

.bottomSide {
    background-Image: url(../assets/bottom.png);
    background-size: 300px;
    height: 37px;
    width: 100%;
    display: table;
    background-repeat: no-repeat;
    background-position: center;
}

.lettuceSide {
    background-Image: url(../assets/lettuce.png);
    background-size: 300px;
    height: 6px;
    width: 100%;
    display: table;
    background-repeat: no-repeat;
    background-position: center;
}
.tomatoSide {
    background-Image: url(../assets/tomato.png);
    background-size: 300px;
    height: 8px;
    width: 100%;
    display: table;
    background-repeat: no-repeat;
    background-position: center;
}
.pickleSide {
    background-Image: url(../assets/pickle.png);
    background-size: 300px;
    height: 9px;
    width: 100%;
    display: table;
    background-repeat: no-repeat;
    background-position: center;
}
.onionSide {
    background-Image: url(../assets/onion.png);
    background-size: 300px;
    height: 10px;
    width: 100%;
    display: table;
    background-repeat: no-repeat;
    background-position: center;
}
.cheeseSide {
    background-Image: url(../assets/cheese.png);
    background-size: 300px;
    height: 15px;
    width: 100%;
    display: table;
    background-repeat: no-repeat;
    background-position: center;
}
.meatSide {
    background-Image: url(../assets/beef.png);
    background-size: 300px;
    height: 35px;
    width: 100%;
    display: table;
    background-repeat: no-repeat;
    background-position: center;
}